@charset "utf-8";

@import "../../mystyles.scss";
@import "../../consts.scss";

.Advantage_wrap {
  background-color: $alt-color-light;
}

.Advantage {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    margin-bottom: 0!important;
    color: $alt-color;
  }

  &_list {
    height: 340px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: $alt-color;

    &_item {
      display: flex;
      flex-direction: row;
      width: 570px;
      margin-top: 20px;

      &_icon {
        margin-right: 5px;
      }
    }
  }
}