@charset "utf-8";

@import "../../mystyles.scss";
@import "../../consts.scss";

.Scrins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    margin-top: 50px;
    color: $alt-color;
  }

  &_list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 400px;
    width: 100%;

    &_item {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      &_img {
        height: 150px;
        width: 200px;
        background-color: $alt-color;
        margin-right: 10px;
      }

      &_text {

        max-width: 360px;
        &_title {
          color: $alt-color;
          margin-bottom: 5px!important;
        }

        &_description {
          color: $alt-color;
        }
      }
    }
  }

}