@charset "utf-8";

@import "../../mystyles.scss";
@import "../../consts.scss";

.About {
  display: flex;
  justify-content: space-between;

  &_text {
    max-width: 650px;
    margin-left: 50px;
    color: $alt-color;

    &_title {
      margin-top: 50px;
    }

    &_paragraph {
      margin-top: 20px;
    }
  }

  &_image {
    height: 245px;
    width: 430px;
    background-color: $alt-color;
    margin: 50px 18px 59px 50px;
  }
}