@import "../../consts.scss";


.Offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 660px;

  &_title {
    margin-top: 50px;
    color: $alt-color;
  }

  &_cards {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 500px;
    padding: 0 100px;
    width: 100%;
  }
}