@import "../../consts.scss";



.OfferCard {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: $alt-color;

  &_header {
    display: flex;
    flex-direction: column;
    align-items: center;


    &_price {
      width: 100%;
      color: $alt-color;
      background-color: #eeeeee;
      border: 2px solid $alt-color;
      text-align: center;
    }
  }

  &_content {
    margin: 0 10px;

    &_list {
      margin: 10px 0;
    }

    &_btn {
      color: $alt-color;
      width: 100%;
      font-weight: bold;

      &:hover {
        border: none;
        background-color: $alt-color;
        color: #eeeeee;
      }
    }
  }


}