@import "../../mystyles.scss";
@import "../../consts.scss";



.Footer_wrap {
  background-color: $alt-color;
}

.Footer {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin-top: 50px;
  }

  &_contacts {
    display: flex;
    width: 800px;

    &_form {
      width: 500px;

      &_input {
        margin-bottom: 10px;

        ::placeholder {
          color: $alt-color;
        }

        textarea {
          resize: none;
        }
      }

      &_wrap {
        display: flex;
        justify-content: center;

        &_btn {
          width: 140px;
          text-transform: uppercase;
          font-weight: bold;
          color: $alt-color;

          &:hover {
            border: none;
            background-color: $alt-color;
            color: #eeeeee;
          }
        }
      }
    }

    &_social {
      margin-left: 50px;

      &_new {
        display: flex;
        margin-top: 32px;

        &_icon {
          display: flex;
          height: 42px;
          width: 42px;
          background-color: #eeeeee;
          border-radius: 50px;
          justify-content: space-evenly;
          align-items: center;
          margin-right: 10px;
        }
      }
    }
  }
}