@charset "utf-8";

@import "../../mystyles.scss";
@import "../../consts.scss";


.Header_wrap {
  background-color: $alt-color;
}

.Header {
  height: 323px;
  display: flex;
  justify-content: space-between;
  &_text {
    &_title {
      padding: 50px 50px;
      margin-bottom: 0!important;
    }

    &_list {
      width: 422px;
      height: 128px;

      margin-left: 50px;

      &_item {
        height: 32px;
      }
    }
  }

  &_image {
    height: 214px;
    width: 469px;
    margin: 50px 18px 59px 50px;
    background-color: #eeeeee;
  }
}