@charset "utf-8";

@import "../../mystyles.scss";
@import "../../consts.scss";

.Reviews_wrap {
  background-color: $alt-color-light;
}

.Reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    margin-top: 50px;
    color: $alt-color;
  }

  &_list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 400px;
    width: 100%;

    &_item {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      &_img {
        height: 75px;
        width: 75px;
        background-color: $alt-color;
        margin-right: 10px;
        border-radius: 50%;
      }

      &_review {
        max-width: 480px;
        background-color: $alt-color-light-darken;
        margin-left: 10px;
        padding: 10px;
        border-radius: 5px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: -20px; top: 25px; /* Положение треугольника */
          border: 10px solid transparent; /* Прозрачные границы */
          border-right: 10px solid $alt-color-light-darken;
        }

        &_text {
          color: $alt-color;
          margin-bottom: 5px!important;
        }

        &_author {
          color: $alt-color;
        }
      }
    }
  }
}